@media screen and (max-width: 768px) {
  /*header*/
  .logos {
    margin: 0px;
    padding: 0px 0px 0px 94px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  .imageheader {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .flecheheader {
    position: relative;
    top: 19px;
    left: 10px;
  }
  .header {
    display: flex;
  }
  .btn {
    display: inline-block;
    margin: 0px 69px 69px;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 24px 24px 24px 24px;
    border-top: 1px solid #aeaeae inset;
    padding: 1rem;
    border: 1px solid;
    width: 207px;
    color: white;
    margin-top: 23px;
  }
  /* bloc menu*/

  .menu {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .lapalettedugout {
    background: #f3f3f3;
  }
  .titrebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .sommeplat {
    position: absolute;
    left: 292px;
  }
  .plat3 {
    border-radius: 17px;
    margin-bottom: 26px;
    padding: 1rem;
    display: flex;
    border: transparent;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    justify-content: center;
  }
  .titreplat {
    margin: 0px;
  }
  .boxplat {
    width: 94%;
    align-items: center;
  }
  h3 {
    font-family: "Shrikhand", cursive;
    font-family: "Shrikhand", cursive;
  }

  /* footer*/
  .footeraccueil {
    display: flex;
    flex-direction: column;
    background: rgb(51, 51, 51);
    width: 100%;
  }
  .footertitre {
    padding: 22px 0px 4px 27px;
    color: white;
    width: 57%;
    font-family: "Shrikhand", cursive;
  }
  .lienfooter {
    color: white;
    padding: 0 11px 0 28px;
  }
  .lienmail {
    padding: 0 0 11px 0;
  }
  .icon {
    padding: 0 12px 0 0;
    font-size: small;
  }
  .lienf {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_menu {
    margin: 0px;
  }
}
