@media screen and (max-width: 768px) {
  /*header*/
  .alafrancaise {
    border-radius: 50px;
    position: relative;
    background: #f3f3f3;
    margin-top: -55px;
    padding: 0 10px 0 14px;
  }
  .logos {
    margin: 0px;
    padding: 0px 0px 0px 94px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  .imageheader {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .flecheheader {
    position: relative;
    top: 9px;
    left: 10px;
    color: black;
  }
  .header {
    display: flex;
  }
  .btn {
    display: inline-block;
    margin: 0px 69px 69px;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 24px 24px 24px 24px;
    border-top: 1px solid #aeaeae inset;
    padding: 1rem;
    border: 1px solid;
    width: 207px;
    color: white;
    margin-top: 23px;
  }
  .btn:hover {
    color: #ff79da;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
  }
  /* transition */
  .plat3 {
    -webkit-animation: translation_opacite 2s linear both;
    animation: transition 2s linear both;
  }
  @-webkit-keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* bloc menu*/

  .menu {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-decoration: 5px underline #99e2d0;
  }
  .lapalettedugout {
    background: #f3f3f3;
  }
  .titrebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .sommeplat {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 21px;
    position: relative;
  }
  .plat3 {
    border-radius: 17px;
    margin-bottom: 26px;
    padding: 1rem;
    display: flex;
    background: white;
    border: transparent;
    flex-direction: column;
    align-items: normal;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    justify-content: center;
  }
  .titreplat {
    margin: 0px;
  }
  .boxplat {
    width: 94%;
    align-items: center;
  }
  h3 {
    font-family: "Shrikhand", cursive;
    font-family: "Shrikhand", cursive;
  }
  /*remplissage de l'icon coeur*/
  .fa-heart {
    cursor: pointer;
  }

  .fa-heart__content {
    /* coeur de la page principale */
    font-size: 28px;
  }

  .fa-heart-restaurant__content {
    /* coeur de la page restaurant (ajustement superposition) */
    font-size: 28px;
  }

  .fa-heart__content_empty {
    color: #000000;
    position: relative;
    right: 42px;
  }

  .fa-heart__box {
    position: relative;
  }

  .fa-heart__box:hover > .fa-heart_full {
    opacity: 1;
    transform: scale(1);
    /* permet de superposer le coeur */
    z-index: 2;
  }

  .fa-heart_full {
    background: linear-gradient(63deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1000ms;
    transform: scale(0);
    position: relative;
    left: -7px;
  }
  /* footer*/
  .footeraccueil {
    display: flex;
    flex-direction: column;
    background: rgb(51, 51, 51);
    width: 100%;
  }
  .footertitre {
    padding: 22px 0px 4px 27px;
    color: white;
    width: 57%;
    font-family: "Shrikhand", cursive;
  }
  .lienfooter {
    color: white;
    padding: 0 11px 0 28px;
  }
  .lienmail {
    padding: 0 0 11px 0;
  }
  .icon {
    padding: 0 12px 0 0;
    font-size: small;
  }
  .lienf {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_menu {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*header*/
  .alafrancaise {
    border-radius: 50px;
    position: relative;
    background: #f3f3f3;
    margin-top: -55px;
    padding: 0 10px 0 14px;
  }
  .logos {
    margin: 0px;
    padding: 0px 281px 0px 286px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  .imageheader {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .flecheheader {
    position: relative;
    top: 9px;
    left: 10px;
    color: black;
  }
  .header {
    display: flex;
  }
  .btn {
    display: inline-block;
    /* margin: 0px 69px 69px; */
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 24px 24px 24px 24px;
    border-top: 1px solid #aeaeae inset;
    padding: 1rem;
    border: 1px solid;
    width: 207px;
    color: white;
    margin-top: 28px;
    margin: 44px 0px 44px 230px;
  }
  .btn:hover {
    color: #e2d3de;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
  }
  /* transition */
  .plat3 {
    -webkit-animation: translation_opacite 2s linear both;
    animation: transition 2s linear both;
  }
  @-webkit-keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* bloc menu*/

  .menu {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-decoration: 5px underline #99e2d0;
  }
  .lapalettedugout {
    background: #f3f3f3;
  }
  .titrebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .plat3 {
    border-radius: 17px;
    margin-bottom: 26px;
    background: white;
    padding: 15px 8px 15px 8px;
    display: flex;
    border: transparent;
    flex-direction: column;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    justify-content: center;
  }
  .titreplat {
    margin: 0px;
  }
  .boxplat {
    width: 70%;
    padding: 16px 0 0 82px;
    align-items: center;
    display: block;
  }
  h3 {
    font-family: "Shrikhand", cursive;
    font-family: "Shrikhand", cursive;
  }

  /* footer*/
  .footeraccueil {
    display: flex;
    flex-direction: column;
    background: rgb(51, 51, 51);
    width: 100%;
  }
  .footertitre {
    padding: 22px 0px 4px 27px;
    color: white;
    width: 57%;
    font-family: "Shrikhand", cursive;
  }
  .lienfooter {
    color: white;
    padding: 0 11px 0 28px;
  }
  .lienmail {
    padding: 0 0 11px 0;
  }
  .icon {
    padding: 0 12px 0 0;
    font-size: small;
  }
  .lienf {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_menu {
    margin: 0px;
  }
}
@media screen and (min-width: 1024px) {
  /*header*/
  .alafrancaise {
    border-radius: 50px;
    position: relative;
    background: #f3f3f3;
    margin-top: -55px;
    padding: 0 10px 0 14px;
  }
  .logos {
    margin: 0px;
    padding: 0px 0px 0px 531px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  .imageheader {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .flecheheader {
    position: relative;
    top: 9px;
    left: 10px;
    color: black;
  }
  .header {
    display: flex;
  }
  .btn {
    display: inline-block;
    margin: 0px 69px 69px 510px;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 24px 24px 24px 24px;
    border-top: 1px solid #aeaeae inset;
    padding: 1rem;
    border: 1px solid;
    width: 207px;
    color: white;
    margin-top: 23px;
  }
  .btn:hover {
    color: #ff79da;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
  }
  /* transition */
  .plat3 {
    -webkit-animation: translation_opacite 2s linear both;
    animation: transition 2s linear both;
  }
  @-webkit-keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes transition {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* bloc menu*/
  .blocmenu {
    display: flow-root;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    margin: 31px 38px 31px 38px;
    text-decoration: 5px underline #99e2d0;
  }
  .lapalettedugout {
    background: #f3f3f3;
  }
  .titrebloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
  }

  .sommeplat {
    position: absolute;
    left: 903px;
  }
  .plat3 {
    padding: 18px 30px 18px 30px;
    border-radius: 17px;
    margin-bottom: 26px;
    background: white;
    margin-left: 91px;
    display: flex;
    width: 76%;
    border: transparent;
    flex-direction: column;
    align-items: baseline;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    justify-content: center;
  }
  .titreplat {
    margin: 0px;
  }
  .boxplat {
    align-items: center;
  }
  h3 {
    font-family: "Shrikhand", cursive;
    font-family: "Shrikhand", cursive;
  }
  /*remplissage de l'icon coeur*/
  .fa-heart {
    cursor: pointer;
  }

  .fa-heart__content {
    /* coeur de la page principale */
    font-size: 28px;
  }

  .fa-heart-restaurant__content {
    /* coeur de la page restaurant (ajustement superposition) */
    font-size: 28px;
  }

  .fa-heart__content_empty {
    color: #000000;
    position: relative;
    right: 42px;
  }

  .fa-heart__box {
    position: relative;
  }

  .fa-heart__box:hover > .fa-heart_full {
    opacity: 1;
    transform: scale(1);
    /* permet de superposer le coeur */
    z-index: 2;
  }

  .fa-heart_full {
    background: linear-gradient(63deg, #ff79da 0%, #9356dc 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1000ms;
    transform: scale(0);
    position: relative;
    left: -7px;
  }
  /* footer*/
  .footeraccueil {
    display: flex;
    flex-direction: column;
    background: rgb(51, 51, 51);
    width: 100%;
  }
  .footertitre {
    padding: 22px 0px 4px 27px;
    color: white;
    width: 57%;
    font-family: "Shrikhand", cursive;
  }
  .lienfooter {
    color: white;
    padding: 0 11px 0 28px;
  }
  .lienmail {
    padding: 0 0 11px 0;
  }
  .icon {
    padding: 0 12px 0 0;
    font-size: small;
  }
  .lienf {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_menu {
    margin: 0px;
  }
}
