@media screen and (max-width: 768px) {
  /*header*/
  .logos {
    margin: 0px;
    padding: 0px 0px 0px 94px;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
  }
  .imageheader {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }

  .btn {
    display: inline-block;
    margin: 0 auto;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 24px 24px 24px 24px;
    border-top: 1px solid #aeaeae inset;
    padding: 1rem;
    border: 1px solid;
    width: 207px;
    color: white;
    margin-top: 23px;
  }
  /* bloc menu*/
  .lapalettedugout {
    background: #f3f3f3;
  }
  .titrebloc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  h3 {
    font-family: "Shrikhand", cursive;
    font-family: "Shrikhand", cursive;
  }
  /* footer*/
  .footeraccueil {
    display: flex;
    flex-direction: column;
    background: rgb(51, 51, 51);
    width: 100%;
  }
  .footertitre {
    padding: 22px 0px 4px 27px;
    color: white;
    width: 57%;
    font-family: "Shrikhand", cursive;
  }
  .lienfooter {
    color: white;
    padding: 0 11px 0 28px;
  }
  .lienmail {
    padding: 0 0 11px 0;
  }
  .icon {
    padding: 0 12px 0 0;
    font-size: small;
  }
  .lienf {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer_menu {
    margin: 0px;
  }
}
